<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="2.0.0.576" targetFramework="net45" />
  <package id="FubuCore" version="1.2.0.272" targetFramework="net45" />
  <package id="FubuLocalization" version="1.0.0.174" targetFramework="net45" />
  <package id="FubuMVC.Ajax" version="0.1.0.468" targetFramework="net45" />
  <package id="FubuMVC.ContentExtensions" version="0.1.0.277" targetFramework="net45" />
  <package id="FubuMVC.Core" version="1.2.0.1678" targetFramework="net45" />
  <package id="FubuMVC.Core.Assets" version="0.9.9.560" targetFramework="net45" />
  <package id="FubuMVC.Core.UI" version="1.0.1.611" targetFramework="net45" />
  <package id="FubuMVC.Core.View" version="1.0.0.579" targetFramework="net45" />
  <package id="FubuMVC.Diagnostics" version="0.9.8.358" targetFramework="net45" />
  <package id="FubuMVC.JQueryUI" version="0.5.0.342" targetFramework="net45" />
  <package id="FubuMVC.Media" version="0.9.5.393" targetFramework="net45" />
  <package id="FubuMVC.Navigation" version="0.9.1.205" targetFramework="net45" />
  <package id="FubuMVC.RavenDb" version="0.9.5.90" targetFramework="net45" />
  <package id="FubuMVC.Razor" version="1.0.0.576" targetFramework="net45" />
  <package id="FubuMVC.Spark" version="1.0.0.576" targetFramework="net45" />
  <package id="FubuMVC.StructureMap" version="1.2.0.1672" targetFramework="net45" />
  <package id="FubuMVC.TwitterBootstrap" version="0.0.0.642" targetFramework="net45" />
  <package id="FubuMVC.Validation" version="0.9.12.873" targetFramework="net45" />
  <package id="FubuPersistence" version="0.9.5.93" targetFramework="net45" />
  <package id="FubuValidation" version="0.9.12.873" targetFramework="net45" />
  <package id="HtmlTags" version="2.0.0.181" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.CompilerServices.AsyncTargetingPack" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.8" targetFramework="net45" />
  <package id="RavenDB.Client" version="2.5.2750" targetFramework="net45" />
  <package id="RavenDB.Database" version="2.5.2750" targetFramework="net45" />
  <package id="RavenDB.Embedded" version="2.5.2750" targetFramework="net45" />
  <package id="Spark" version="1.7.5.3" targetFramework="net45" />
  <package id="structuremap" version="2.6.3.0" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net45" />
  <package id="WebActivator" version="1.1.0.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="3.0.1.0" targetFramework="net45" />
</packages>